<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<!-- 自己独有的样式代码 -->
	<link rel="stylesheet" href="../css/allproducts.css">
</head>
<body>
	<!-- header部分开始 -->
	<div class="header">
		<div class="header_c inner_c">
			<h1 class="logo">
				青竹商城
			</h1>
			<dl class = "allType">
				<dt><a href="#">查看所有类型</a></dt>
				<dd>
					<div class = "dd_inn">
						<ul class = "dd_cont">
							<li><a href="#">不锈钢</a></li>
							<li><a href="#">原料水泥</a></li>
							<li><a href="#">塑料</a></li>
							<li><a href="#">木质</a></li>
							<li><a href="#">陶瓷</a></li>
						</ul>
						<ul class="pro">
							<li>
								<a href="#">
									<div class="pic">
										<img src="../image/img25.png" alt="">
									</div>
									<div class="content">
										<h3>简约木质餐盘</h3>
										<span>￥200</span>
									</div>
								</a>
								<div class="mask">
									<a href="#" class = "btn">查看详情</a>
								</div>
							</li>
							<li>
								<a href="#">
									<div class="pic">
										<img src="../image/img26.png" alt="">
									</div>
									<div class="content">
										<h3>简约木质餐盘</h3>
										<span>￥200</span>
									</div>
								</a>
								<div class="mask">
									<a href="#" class = "btn">查看详情</a>
								</div>
							</li>
							<li>
								<a href="#">
									<div class="pic">
										<img src="../image/img27.png" alt="">
									</div>
									<div class="content">
										<h3>简约木质餐盘</h3>
										<span>￥200</span>
									</div>
								</a>
								<div class="mask">
									<a href="#" class = "btn">查看详情</a>
								</div>
							</li>
						</ul>
					</div>
				</dd>
			</dl>
			<ul class="nav">
				<li><a href="./">首页</a></li>
				<li><a href="./allproducts">所有产品</a></li>
			</ul>
			<div class="reg">
				<div class="ico">
					<span class = "ico_c"></span>
					<div class="settle">
						<p class="con">0件商品 共计：<span>￥0</span></p>
						<a href="#" class="btn">结算</a>
					</div>
					<span class = "con">
						0
					</span>
				</div>
				<div class = "reg_c">
					<a href="./login" id="">登陆</a>
					<span>&nbsp;|&nbsp;</span>
					<a href="./register">注册</a>
				</div>
			</div>
		</div>
	</div>
	<!-- header部分结束 -->
	<div class="s_content">
		<div class="s_content_c inner_c">
			<div class="s_info">
				<div class="s_title">
					<a href="#">
						首页
					</a>
					<span>
						所有商品
					</span>
				</div>
				<div class="screen">
					<table>
						<tr class = "t1">
							<th>品牌</th>
							<td>
								<a href="#">无印</a>
								<a href="#">博朗</a>
								<a href="#">花印</a>
							</td>
						</tr>
						<tr class = "t2">
							<th>类别</th>
							<td>
								<a href="#">不锈钢</a>
								<a href="#">原料水泥</a>
								<a href="#">塑料</a>
								<a href="#">木质</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="fun">
					<div class="sort">
						<span>排序：</span>
						<a href="#" class="s1">
							<i></i>销量
						</a>
						<a href="#" class="s2">
							<i></i>价格
						</a>
						<a href="#" class="s3">
							<i></i>上架时间
						</a>
					</div>
					<div class="swi">
						<span>仅显示有货：</span>
						<a href="#">
							<i></i>
						</a>
					</div>
					<div class="total">
						共<span>20</span>个商品
					</div>
				</div>
				<div class="s_prod">
					<ul class = "pub_pro">
						<li>
							<img src="../image/img47.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img41.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img42.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img43.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img44.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img46.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img48.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img49.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img49.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img47.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img47.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
						<li>
							<img src="../image/img47.png" alt="">
							<div class="cont">
								<h3>不锈钢汤勺</h3>
								<span>￥300</span>
							</div>
							<div class="mask">
								<a href="#" class="btn">查看详情</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="pages">
					<a href="#">&lt;</a>
					<a href="#" class = "tol cur">1</a>
					<a href="#" class = "tol ">2</a>
					<a href="#">&gt;</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>