<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>所有商品</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/common.css">
	<!-- 自己独有的样式代码 -->
	<link rel="stylesheet" href="../css/allproducts.css">
</head>
<body>
	<!-- header部分开始 -->
	<div class="header">
		<div class="header_c inner_c">
			<h1 class="logo">
				青竹商城
			</h1>
			<dl class = "allType">
				<dt><a href="#">查看所有类型</a></dt>
				<dd>
					<div class = "dd_inn">
						<ul class = "dd_cont"></ul>
						<ul class="pro"></ul>
					</div>
				</dd>
			</dl>
			<ul class="nav">
				<li><a href="./">首页</a></li>
				<li><a href="./allproducts">所有商品</a></li>
			</ul>
			<div class="reg">
				<div class="ico">
					<span class = "ico_c"></span>
					<div class="settle">
						<p class="con">0件商品 共计：<span>￥0</span></p>
						<a href="./shopcar" class="btn">结算</a>
					</div>
					<span class = "con"></span>
				</div>
				<div class = "reg_c">
					<a class="isLogin" href="./login" id="">登陆</a>
					<span class="isLogin">&nbsp;|&nbsp;</span>
					<a class="isLogin" href="./register">注册</a>
					<a class="login-out person" href="#" style="margin-right: 20px;">个人中心</a>
					<a class="login-out" href="#" onclick="loginOut()">退出</a>
					<div class="wrap3">
						<ul>
							<li><a class="word" href="./changePsw">修改密码</a></li>
							<li><a class="word" href="./orderList">历史订单</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header部分结束 -->
	<div class="s_content">
		<div class="s_content_c inner_c">
			<div class="s_info">
				<div class="s_title">
					<a href="#">
						首页
					</a>
					<span>
						所有商品
					</span>
				</div>
				<div class="screen">
					<table>
						<tr class = "t2">
							<th>类别</th>
							<td>
								<a href="./allproducts">全部</a>
							</td>
						</tr>
					</table>
				</div>
				<div class="fun">
					<div class="sort">
						<span>排序：</span>
						<a class="s1">
							<i></i>销量
						</a>
						<a class="s2">
							<i></i>价格
						</a>
						<a class="s3">
							<i></i>上架时间
						</a>
					</div>
					<div class="swi">
						<span>仅显示有货：</span>
						<a>
							<i></i>
						</a>
					</div>
					<div class="total">
						共<span>0</span>个商品
					</div>
				</div>
				<div class="s_prod">
					<ul class = "pub_pro"></ul>
				</div>
				<div class="pages">
					<span></span>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/public.js"></script>
<script src="../jq1.11.1/jquery.min.js"></script>
<script>
	var typeList = []
	var ul = $('.dd_cont')
	var div = $('.pro')
	$content1 = null
	$content2 = null
	$content3 = null
	var obj = {}
	function geturlKey(){
		var url = window.location.href.split("?")[1]
		obj.pageNum = 1;
		obj.typeId = 0;
		if(url==null){
			return;
		}
		var keys = url.split("&")
		for(var i=0;i<keys.length;i++){
			var key = keys[i].split("=")[0]
			var val = keys[i].split("=")[1]
			obj[key] = val;
		}
	}
	geturlKey();
	function getCarContent(){
		$.ajax({
			url: "/api/shopping/getShoppingCar",
			type: "POST",
			data: {
				token: sessionStorage.getItem("token")
			},
			beforeSend: function(request){
				request.setRequestHeader("Authorization",sessionStorage.getItem("token"));
			},
			success: function(res){
				if(res.resultCode!=200){
					$.growl.error({
						title: "提示",
						message: "获取购物车列表失败!"
					})
				}else{
					var p = document.getElementsByClassName("con")[0]
					var span = document.getElementsByClassName("con")[1]
					span.innerHTML = "0"
					p.innerHTML = res.data.length+"件商品 共计：<span>￥0</span>"
					sessionStorage.setItem("carItem",res.data.length)
				}
			},
			error: function(e){

			}
		})
	}
	function getTypeList(){
		$.ajax({
			url: '/common/getTypeAndGoods',
			type: 'post',
			data: {
				pageSize: 10,
				pageNum: 1
			},
			beforeSend: function(request){
				request.setRequestHeader("Authorization",token);
			},
			success: function(res){
				if(res.resultCode!=200){
					$.growl({
						title: "提示",
						message: res.resultMsg
					})
				}else{
					typeList = res.data.list
					for(var i=0;i<typeList.length;i++){
						ul.append("<li><a href=''>"+typeList[i].type_name+"</a></li>")
					}
					addMouseOver()
				}
			},
			error: function(e){
			}
		});
	}
	function addMouseOver(){
		$('.dd_cont li').mouseover(function(e){
			var i = $(this).index()
			console.log(i,"index")
			var str1,str2,str3;
			if(typeList[i].goodsList.length==0){
				if($content1!=null) $content1.remove();
				if($content2!=null) $content2.remove();
				if($content3!=null) $content3.remove();
			}
			if(typeList[i].goodsList.length==1){
				var img1;
				str1 = "<img src='../image/img25.png' alt=''>";
				if(!!typeList[i].goodsList[0].main_pic){
					img1 = typeList[i].goodsList[0].main_pic.substr(typeList[i].goodsList[0].main_pic.lastIndexOf("\\")+1);
					str1 = "<img src='../file/"+img1+"' alt=''>"
				}
				if($content1!=null) $content1.remove();
				if($content2!=null) $content2.remove();
				if($content3!=null) $content3.remove();
				$content1 = $("<li><a href=\"#\"><div class='pic'>" + str1 +
						"</div><div class='content'><h3>" + typeList[i].goodsList[0].goods_name + "</h3>" +
						"<span>￥"+typeList[i].goodsList[0].goods_price + "</span></div></a>" +
						"<div class='mask'><a href='#' class='btn'>查看详情</a></div>")
				div.append($content1);
			}
			if(typeList[i].goodsList.length==2){
				var img1,img2;
				str1 = "<img src='../image/img25.png' alt=''>";
				str2 = "<img src='../image/img25.png' alt=''>";
				if(!!typeList[i].goodsList[0].main_pic){
					img1 = typeList[i].goodsList[0].main_pic.substr(typeList[i].goodsList[0].main_pic.lastIndexOf("\\")+1);
					str1 = "<img src='../file/"+img1+"' alt=''>"
				}
				if(!!typeList[i].goodsList[1].main_pic){
					img2 = typeList[i].goodsList[1].main_pic.substr(typeList[i].goodsList[1].main_pic.lastIndexOf("\\")+1);
					str2 = "<img src='../file/"+img2+"' alt=''>"
				}
				if($content1!=null) $content1.remove();
				$content1 = $("<li><a href=\"#\"><div class='pic'>"+str1+"</div>" +
						"<div class='content'><h3>" + typeList[i].goodsList[0].goods_name + "</h3>" +
						"<span>￥"+typeList[i].goodsList[0].goods_price + "</span></div></a>" +
						"<div class='mask'><a href='#' class='btn'>查看详情</a></div>")
				div.append($content1)
				if($content2!=null) $content2.remove();
				$content2 = $("<li><a href=\"#\"><div class='pic'>"+str2+"</div>" +
						"<div class='content'><h3>" + typeList[i].goodsList[1].goods_name + "</h3>" +
						"<span>￥"+typeList[i].goodsList[1].goods_price + "</span></div></a>" +
						"<div class='mask'><a href='#' class='btn'>查看详情</a></div>")
				div.append($content2)
				if($content3!=null)	$content3.remove();
			}
			if(typeList[i].goodsList.length>=3){
				var img1,img2,img3;
				str1 = "<img src='../image/img25.png' alt=''>";
				str2 = "<img src='../image/img25.png' alt=''>";
				str3 = "<img src='../image/img25.png' alt=''>";
				if(!!typeList[i].goodsList[0].main_pic){
					img1 = typeList[i].goodsList[0].main_pic.substr(typeList[i].goodsList[0].main_pic.lastIndexOf("\\")+1);
					str1 = "<img src='../file/"+img1+"' alt=''>"
				}
				if(!!typeList[i].goodsList[1].main_pic){
					img2 = typeList[i].goodsList[1].main_pic.substr(typeList[i].goodsList[1].main_pic.lastIndexOf("\\")+1);
					str2 = "<img src='../file/"+img2+"' alt=''>"
				}
				if(!!typeList[i].goodsList[2].main_pic){
					img3 = typeList[i].goodsList[2].main_pic.substr(typeList[i].goodsList[2].main_pic.lastIndexOf("\\")+1);
					str3 = "<img src='../file/"+img3+"' alt=''>"
				}
				if($content1!=null) $content1.remove();
				$content1 = $("<li><a href=\"#\"><div class='pic'>"+str1+"</div>" +
						"<div class='content'><h3>" + typeList[i].goodsList[0].goods_name + "</h3>" +
						"<span>￥"+typeList[i].goodsList[0].goods_price + "</span></div></a>" +
						"<div class='mask'><a href='#' class='btn'>查看详情</a></div>")
				div.append($content1)
				if($content2!=null) $content2.remove();
				$content2 = $("<li><a href=\"#\"><div class='pic'>"+str2+"</div>" +
						"<div class='content'><h3>" + typeList[i].goodsList[1].goods_name + "</h3>" +
						"<span>￥"+typeList[i].goodsList[1].goods_price + "</span></div></a>" +
						"<div class='mask'><a href='#' class='btn'>查看详情</a></div>")
				div.append($content2)
				if($content3!=null) $content3.remove()
				$content3 = $("<li><a href=\"#\"><div class='pic'>"+str3+"</div>" +
						"<div class='content'><h3>" + typeList[i].goodsList[2].goods_name + "</h3>" +
						"<span>￥"+typeList[i].goodsList[2].goods_price + "</span></div></a>" +
						"<div class='mask'><a href='#' class='btn'>查看详情</a></div>")
				div.append($content3)
			}
		})
	}
	function getGoodsList(type){
		var data = {
			pageSize: 8,
			pageNum: obj.pageNum,
			type_id: obj.typeId!=0?parseInt(obj.typeId):null,
		}
		if(type!=null){
			data.orderByType = type
			$(".pub_pro li").remove();
			$(".pages  a").remove();
		}
		if(sessionStorage.getItem("hasnum")=='true'){
			data.hasnum = 1;
		}
		$.ajax({
			url: '/common/getGoodsList',
			type: 'post',
			data: data,
			beforeSend: function(request){
				request.setRequestHeader("Authorization",sessionStorage.getItem("token"));
			},
			success: function(res){
				if(res.resultCode!=200){
					alert(res.resultMsg)
				}else{
					var goodsList = $(".pub_pro")
					$(".total span")[0].innerHTML = res.data.total;
					for(var i=0;i<res.data.list.length;i++){
						if(!!res.data.list[i].main_pic){
							var pic = res.data.list[i].main_pic.substr(res.data.list[i].main_pic.lastIndexOf("\\")+1)
							goodsList.append("<li>"
									+"<img src='../file/"+pic+"' alt=\"\">"
									+"<div class=\"cont\">"
									+"<h3>"+res.data.list[i].goods_name+"</h3>"
									+"<span>"+res.data.list[i].goods_price+"</span></div>"
									+"<div class=\"mask\">"
									+"<a class=\"btn\" href='proDetail?goodId="+res.data.list[i].id+"'>查看详情</a>"
									+"</div>"
									+"</li>")
						}else{
							goodsList.append("<li>"
									+"<img src=\"../image/img47.png\" alt=\"\">"
									+"<div class=\"cont\">"
									+"<h3>"+res.data.list[i].goods_name+"</h3>"
									+"<span>"+res.data.list[i].goods_price+"</span></div>"
									+"<div class=\"mask\">"
									+"<a class=\"btn\" href='proDetail?goodId="+res.data.list[i].id+"'>查看详情</a>"
									+"</div>"
									+"</li>")
						}

					}
					var pages = res.data.lastPage
					for(var i=0;i<pages;i++){
						var index = parseInt(i+1)
						if(obj.pageNum==index)
							$(".pages span").append("<a href='./allproducts?typeId="+obj.typeId+"&pageNum="+index+"' class='tol cur'>"+index+"</a>")
						else
							$(".pages span").append("<a href='./allproducts?typeId="+obj.typeId+"&pageNum="+index+"' class='tol'>"+index+"</a>")
					}
				}
			},
			error: function(e){
			}
		});
	}
	$(".s1").click(function(){
		$(".s1")[0].style.color = "rgb(255,68,68)"
		$(".s2")[0].style.color = "inherit";
		$(".s3")[0].style.color = "inherit";
		getGoodsList(1);
	})
	$(".s2").click(function(){
		$(".s2")[0].style.color = "rgb(255,68,68)"
		$(".s1")[0].style.color = "inherit";
		$(".s3")[0].style.color = "inherit";
		getGoodsList(2);
	})
	$(".s3").click(function(){
		$(".s3")[0].style.color = "rgb(255,68,68)"
		$(".s2")[0].style.color = "inherit";
		$(".s1")[0].style.color = "inherit";
		getGoodsList(3);
	})
	$(".swi a").click(function(){
		if(sessionStorage.getItem("hasnum")){
			if(sessionStorage.getItem("hasnum")=='false'){
				sessionStorage.setItem("hasnum",true);
				$(".swi a")[0].style.backgroundColor = "rgb(255,68,68)"
				$(".swi a i")[0].style.float = "right";
			}else{
				$(".swi a")[0].style.backgroundColor = "#909090"
				$(".swi a i")[0].style.float = "left";
				sessionStorage.setItem("hasnum",false)
			}
		}else{
			sessionStorage.setItem("hasnum",true)
			$(".swi a")[0].style.backgroundColor = "rgb(255,68,68)"
			$(".swi a i")[0].style.float = "right";
		}

	})
	window.onload = function(){
		$.ajax({
			url: '/api/user/checkToken',
			type: 'post',
			data: {
			},
			beforeSend: function(request){
				request.setRequestHeader("Authorization",sessionStorage.getItem("token"));
			},
			success: function(data){
				if(data.data!=null){
					var blocks = document.getElementsByClassName("isLogin")
					var outbtn = document.getElementsByClassName("login-out")
					for(var i=0;i<blocks.length;i++){
						blocks[i].style.display = "none";
					}
					for(var i=0;i<outbtn.length;i++){
						outbtn[i].style.display = "inline-block";
					}
					getCarContent()
				}else{
					sessionStorage.removeItem("token");
				}
			},
			error: function(e){
			}
		});
		$.ajax({
			url: '/common/getTypeActiveList',
			type: 'post',
			data: {
				pageSize: 999,
			},
			beforeSend: function(request){
				request.setRequestHeader("Authorization",sessionStorage.getItem("token"));
			},
			success: function(res){
				if(res.resultCode!=200){
					alert(res.resultMsg)
				}else{
					var typelist = $(".t2>td")
					for(var i=0;i<res.data.list.length;i++){
						typelist.append("<a href='./allproducts?typeId="+res.data.list[i].id+"'>"+res.data.list[i].type_name+"</a>")
					}
				}
			},
			error: function(e){
			}
		});
		var hasnum = sessionStorage.getItem("hasnum")
		if(hasnum=='true'){
			$(".swi a")[0].style.backgroundColor = "rgb(255,68,68)"
			$(".swi a i")[0].style.float = "right";
		}
		getGoodsList();
		getTypeList();
	}
</script>
</html>